.body {
    padding: 0;
    margin: 0;  
}


.hashimoto, .text_hashimoto, .hintsButton, .hashimoto_form {
    display: flex;
    justify-content: center;
}

.hintsButton, .hashimoto_form {
    padding-top: 1%;
}

